{# vim: set ft=htmldjango : #}

{%- import "partials/preload.html" as preload -%}

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />

	<title>
		{%- block title -%}
		{%- if page.isHome -%}
			{{ config.title }}
		{%- else -%}
			{%- if page.title is defined	-%}
				{{ page.title }}
			{%- elif section.title is defined -%}
				{{ section.title }}
			{%- else -%}
				{{ taxonomy.name }}
			{%- endif %}
			- {{ config.title }}
		{%- endif -%}
		{%- endblock title -%}
	</title>

	<meta name="HandheldFriendly" content="True" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<meta name="description" content="{{ config.description }}" />
	<meta name="author" content="{{ config.extra.author }}" />

	<link rel="stylesheet" type="text/css" as="style"
		href="{{ get_url(path="assets/css/fonts.css") | safe }}"
		onload="this.rel='stylesheet'"
	/>
	<link rel="stylesheet" type="text/css" as="style"
		href="{{ get_url(path="assets/css/normalize.css") | safe }}"
		onload="this.rel='stylesheet'"
	/>
	<link rel="stylesheet" type="text/css" as="style"
		href="{{ get_url(path="assets/css/icons.css") | safe }}"
		onload="this.rel='stylesheet'"
	/>
	<link rel="stylesheet" type="text/css" as="style"
		href="{{ get_url(path="assets/css/screen.css") | safe }}"
		onload="this.rel='stylesheet'"
	/>
	<link rel="stylesheet" type="text/css" as="style"
		href="{{ get_url(path="assets/css/links.css") | safe }}"
		onload="this.rel='stylesheet'"
	/>
	<script src="{{ get_url(path="assets/js-cookie/js-cookie.js") | safe }}"></script>
	<style>
		{{ load_data(path="assets/css/theme.css") }}
	</style>
	<script>
		{% set themeColours = load_data(path="assets/themes/theme-colours.toml") %}
		themeColours = {
		{% for theme, themeDetails in themeColours %}
					"{{ theme }}": {{ themeDetails | json_encode | safe }},
		{% endfor %}
		};
		{{ load_data(path="assets/js/theme.js") | safe }}
	</script>

	<!-- TODO: add littlefoot JS footnote library -->
</head>
