{# vim: set ft=htmldjango : #}

{%- extends "base.html" -%}

{%- block content -%}
<style>
.blog-description {
	display: none;
}
</style>

<main class="content" role="main">
	<article class="post">
		<header class="post-header">
			{%- if page.extra.image is defined -%}
			<img
				{%- if page.extra.image.alt is defined %}
				alt="{{- page.extra.image.alt -}}"
				{%- endif %}
				loading="lazy"
				src="{{ page.extra.image.url }}"
			/>
			{%- endif -%}
			<h1 class="post-title">{{ page.title }}</h1>
			<section class="post-meta">
				<time class="post-date">{{ page.date | date(format=config.extra.postPageDateFormat) }}</time>
			</section>
		</header>
		<section class="post-content">
			{{ page.content | safe }}
		</section>
		<footer class="post-footer">
			{%- if page.taxonomies.tags is defined -%}
			<section class="tags post-meta">
				Tagged
				{%- for tag in page.taxonomies.tags %}
					<a href="{{ get_taxonomy_url(kind="tags", name=tag) }}">{{ tag }}</a>
				{%- endfor -%}
			</section>
			{% endif %}
		</footer>
	</article>
</main>
{%- endblock content -%}
