{# vim: set ft=htmldjango : #}

{%- extends "index.html" -%}
{%- import "post/macros.html" as postMacros -%}

{%- block paginationControlsBottom -%}
	{%- set postsSection = get_section(path="post/_index.md") -%}
	{%- set postsCount = postsSection.pages | length -%}
	{%- if postsCount > 3 -%}
		<nav class="pagination" role="navigation">
			<span class="page-number">Page 1 of {{ postsCount / 3 | round(method="ceil") }}</span>
			<a class="older-posts" href="{{ get_url(path="@/post/_index.md") }}/page/2">Older Posts →</a>
		</nav>
	{%- endif -%}
{%- endblock paginationControlsBottom -%}

{%- block pagination -%}
	{%- set postsSection = get_section(path="post/_index.md") %}
	{%- for post in postsSection.pages | slice(end=3) -%}
		{{ postMacros::summary(context=post) }}
	{%- endfor %}
{%- endblock pagination -%}
