:root {
	--theme-colour-0: #FFD700;
	--theme-colour-1: #FFD6F5;
	--theme-colour-2: #FFC2F0;
	--theme-colour-3: #050517;
	--theme-colour-4: #FFF3AD;
	--theme-colour-5: #0057B7;
	--theme-colour-6: #0076F5;
	--theme-colour-7: #81D2C7;
	--theme-colour-9: #FFEA70;
}

:root {
	--theme-base-background: var(--theme-colour-5);
	--theme-base-text-colour: var(--theme-colour-0);
	--theme-blockquote-colour: var(--theme-colour-2);
	--theme-code-colour: var(--theme-colour-4);
	--theme-description-colour: var(--theme-colour-2);
	--theme-link-colour: var(--theme-colour-1);
	--theme-nav-link-colour: var(--theme-colour-2);
	--theme-pagination-colour: var(--theme-colour-2);
	--theme-post-nav-links: var(--theme-colour-1);
	--theme-post-share-link-colour: var(--theme-colour-2);
	--theme-post-share-link-hover-colour: var(--theme-colour-7);
	--theme-post-tags-link-colour: var(--theme-colour-2);
	--theme-post-tags-link-hover-colour: var(--theme-colour-1);
	--theme-table-background: var(--theme-colour-5);
	--theme-table-header-background: var(--theme-colour-6);
	--theme-table-header-border-colour: var(--theme-colour-4);
	--theme-table-header-colour: var(--theme-colour-0);
	--theme-tag-description-colour: var(--theme-colour-2);
	--theme-title-colour: var(--theme-colour-9);
	--theme-title-link-colour: var(--theme-colour-3);
	--theme-header-colour: var(--theme-colour-0);
	--theme-title-link-colour: var(--theme-colour-0);
	--theme-visited-link-colour: var(--theme-colour-2);
}

